* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  height: 100vh;
}

body {
  background-color: #f8f9fd;
  height: 100vh;
}

.container {
  width: 80%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.header {
  background-color: #ffffff;
  height: 110px;
  width: 100%;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 3;
  -webkit-animation-name: slideDown;
  animation-name: slideDown;
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-timing-function: ease;
  animation-timing-function: ease;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.header .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 100%;
}

.header .logo {
  width: 150px;
}

@-webkit-keyframes slideDown {
  0% {
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
    opacity: 0;
  }

  100% {
    -webkit-transform: translateY(0%);
    transform: translateY(0%);
    opacity: 1;
  }
}

@keyframes slideDown {
  0% {
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
    opacity: 0;
  }

  100% {
    -webkit-transform: translateY(0%);
    transform: translateY(0%);
    opacity: 1;
  }
}

.header_nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.header_nav i {
  color: #c0c9d8;
}

.header_bell i:hover {
  color: #9ba6b2;
}

.header_dropdown {
  position: relative;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.header_dropdown input {
  display: block;
  width: 58px;
  height: 58px;
  position: absolute;
  top: 0;
  left: 0;
  cursor: pointer;
  opacity: 0;
  z-index: -2;
  -webkit-touch-callout: none;
}

.header_dropdown input:checked~.header_popup {
  visibility: visible;
}

.avatar_container {
  background-color: #eb9d3f;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 60px;
  width: 60px;
  margin-left: 10px;
}

.avatar {
  color: #ffffff;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  font-weight: bold;
}

.header_dropdown:hover .avatar_container {
  background-color: #f08e33;
}

.header_popup {
  background-color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  height: 200px;
  width: 300px;
  padding-left: 30px;
  position: absolute;
  right: 0px;
  top: 100px;
  visibility: hidden;
}

.avatar_name {
  border-bottom: 2px solid #9ba6b2;
  padding-bottom: 10px;
  margin-top: 15px;
  width: 80%;
  text-align: center;
}

.avatar_name span {
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  color: #9ba6b2;
}

#header_menu {
  list-style: none;
  margin-bottom: 10px;
}

#header_menu a {
  text-decoration: none;
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  color: #3c3c3c;
  font-weight: 500;
}

#header_menu a i {
  color: #3c3c3c;
}

#header_menu li {
  margin-bottom: 10px;
}

#header_menu a:hover {
  color: #212121;
}

#header_menu a:hover i {
  color: #212121;
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  height: calc(100vh - 200px);
}

main .container {
  height: 100%;
  padding-top: 50px;
}

.content {
  height: 100%;
  display: grid;
  grid-template-columns: 25% 25% 1fr 18%;
  grid-template-rows: repeat(8, 1fr);
}

.card {
  -webkit-perspective: 1000px;
  perspective: 1000px;
}

.card_inner {
  position: relative;
  width: 100%;
  height: 100%;
  -webkit-transition: -webkit-transform 0.6s;
  transition: -webkit-transform 0.6s;
  transition: transform 0.6s;
  transition: transform 0.6s, -webkit-transform 0.6s;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.front,
.back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.back {
  background-color: white;
}

.card1 {
  grid-column-start: 1;
  grid-column-end: span 1;
  grid-row-start: 1;
  grid-row-end: span 4;
  background-color: white;
}

.card1 .back,
.card1 .back a,
.card .front,
.card9 .back,
.card9 .back ul,
.message_logo,
footer .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.card1 .front img {
  height: auto;
}

.card1 .back {
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
}

.card1 .back a {
  border-radius: 20px;
  background-color: #4d99f7;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  color: white;
  height: 50px;
  text-decoration: none;
  width: 150px;
  text-align: center;
}

.card1 .back a:hover {
  background-color: #18449d;
}

.card1:hover .card_inner {
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
}

.card2 {
  grid-column-start: 2;
  grid-column-end: span 1;
  grid-row-start: 1;
  grid-row-end: span 6;
}

.card2 .front {
  background-color: #f7cf69;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
}

.card2 .front h1 {
  color: black;
  font-family: 'Roboto', sans-serif;
  font-size: 100px;
  font-weight: 900;
}

.card2 .back {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding-top: 20px;
  padding-left: 20px;
  -webkit-transform: rotateY(-180deg);
  transform: rotateY(-180deg);
}

.card2 .back span {
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  color: black;
}

.card2 .back img {
  height: 100px;
}

.card2:hover .card_inner {
  -webkit-transform: rotateY(-180deg);
  transform: rotateY(-180deg);
}

.card3 {
  grid-column-start: 3;
  grid-column-end: span 2;
  grid-row-start: 1;
  grid-row-end: span 3;
}

.card3 .front {
  background-color: #8a93bc;
  height: 100%;
  width: 100%;
  z-index: 2;
}

.card3 .front span {
  color: black;
  font-family: 'Roboto', sans-serif;
  font-size: 80px;
  font-weight: 400;
  font-style: italic;
}

.card3 .back {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.card3 .back span {
  margin: 15px 0px 15px 15px;
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  color: black;
}

.card3 .front:hover {
  -webkit-animation: scale-out-right 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
  animation: scale-out-right 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}

.card3 .front:hover .back {
  z-index: 4;
}

@-webkit-keyframes scale-out-right {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
    -webkit-transform-origin: 100% 0%;
    transform-origin: 100% 0%;
    opacity: 1;
  }

  100% {
    -webkit-transform: scale(0);
    transform: scale(0);
    -webkit-transform-origin: 100% 0%;
    transform-origin: 100% 0%;
    opacity: 1;
  }
}

@keyframes scale-out-right {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: 100% 50%;
    transform-origin: 100% 50%;
    opacity: 1;
  }

  100% {
    -webkit-transform: scale(0);
    transform: scale(0);
    -webkit-transform-origin: 100% 0%;
    transform-origin: 100% 0%;
    opacity: 1;
  }
}

.card4 {
  grid-column-start: 1;
  grid-column-end: span 1;
  grid-row-start: 5;
  grid-row-end: span 4;
}

.card4 .front {
  background-color: #70bc7e;
  height: 100%;
}

.card4 .front span {
  color: white;
  font-family: 'Roboto', sans-serif;
  font-size: 100px;
  font-weight: 400;
}

.card4 .back {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 20px;
  padding-left: 20px;
  background-color: white;
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
}

.card4 .back span {
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  color: black;
}

.card4:hover .card_inner {
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
}

.card5 {
  grid-column-start: 3;
  grid-column-end: span 1;
  grid-row-start: 4;
  grid-row-end: span 5;
  overflow: hidden;
}

.card5 .front {
  background-color: #5c2773;
  height: 100%;
}

.card5 .front span {
  color: white;
  font-family: 'Roboto', sans-serif;
  font-size: 100px;
  font-weight: 400;
}

.card5 .back {
  -webkit-transform: rotateX(-180deg);
  transform: rotateX(-180deg);
  overflow: scroll;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.card5 span {
  margin-top: 20px;
  margin-left: 20px;
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  color: black;
}

.card5:hover .card_inner {
  -webkit-transform: rotateX(-180deg);
  transform: rotateX(-180deg);
}

.card6 {
  grid-column-start: 4;
  grid-column-end: span 1;
  grid-row-start: 4;
  grid-row-end: span 2;
  overflow: hidden;
}

.card6 .front {
  background-color: #4d99f7;
  height: 100%;
  overflow: scroll;
}

.card6 .front span {
  color: white;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  font-weight: 400;
}

.card6 .back {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-transform: translateX(100%);
  transform: translateX(100%);
  overflow: scroll;
}

.card6 .back span {
  margin: 15px 0px 15px 15px;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  color: black;
  line-height: 20px;
}

.card6:hover .card_inner {
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%);
}

.card7 {
  grid-column-start: 4;
  grid-column-end: span 1;
  grid-row-start: 6;
  grid-row-end: span 2;
  overflow: hidden;
}

.card7 .front {
  background-color: #18449d;
  height: 100%;
}

.card7 .front span {
  color: white;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  font-weight: 400;
}

.card7 .back {
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%);
  overflow: scroll;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.card7 .back span {
  margin: 15px 0px 15px 15px;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  color: black;
  line-height: 20px;
}

.card7:hover .card_inner {
  -webkit-transform: translateX(100%);
  transform: translateX(100%);
}

.card8 {
  grid-column-start: 2;
  grid-column-end: span 1;
  grid-row-start: 7;
  grid-row-end: span 2;
  overflow: hidden;
}

.card8 .front {
  background-color: #cf3e50;
  height: 100%;
}

.card8 .front span {
  color: white;
  font-family: 'Roboto', sans-serif;
  font-size: 40px;
  font-weight: 400;
}

.card8 .back {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transform: translateY(-100%);
  transform: translateY(-100%);
  overflow: scroll;
}

.card8 .back span {
  padding-top: 20px;
  padding-left: 20px;
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  color: black;
}

.card8:hover .card_inner {
  -webkit-transform: translateY(100%);
  transform: translateY(100%);
}

.card9 {
  grid-column-start: 4;
  grid-column-end: span 1;
  grid-row-start: 8;
  grid-row-end: span 1;
  overflow: hidden;
}

.card9 .front {
  background-color: #09265b;
  height: 100%;
}

.card9 .front span {
  color: white;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  font-weight: 400;
}

.card9 .back {
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%);
  overflow: scroll;
}

.card9 .back ul {
  list-style: none;
  width: 100%;
}

.card9 .back ul a {
  text-decoration: none;
  margin: 0 10px;
  color: black;
}

.card9 .back ul a:hover {
  color: #4d99f7;
}

.card9:hover .card_inner {
  -webkit-transform: translateX(100%);
  transform: translateX(100%);
}

.notifications {
  position: fixed;
  bottom: 15px;
  right: 15px;
  width: 210px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.message {
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  min-height: 50px;
  padding: 10px 0;
  margin: 5px 0;
  opacity: 0.8;
}

.error {
  background-color: #c3534e;
}

.succes {
  background-color: #77b776;
}

.warning {
  background-color: #eb9d3f;
}

.message_logo {
  width: 50px;
}

.message i,
.message_text {
  color: white;
}

.message_text {
  margin-right: 10px;
}

.message_text h3,
.message_text p {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-size: bold;
}

footer {
  height: 50px;
  margin-top: 50px;
}

footer .container {
  margin-top: 15px;
}

@media only screen and (max-width: 1000px) {
  main {
    height: 100vh;
  }

  main .content {
    grid-template-columns: 40% 1fr 32% 18%;
    grid-template-rows: repeat(9, 1fr);
    grid-gap: none;
  }

  .card {
    overflow: hidden;
  }

  .card1 {
    grid-column-start: 1;
    grid-column-end: span 1;
    grid-row-start: 1;
    grid-row-end: span 5;
  }

  .card2 {
    grid-column-start: 2;
    grid-column-end: span 2;
    grid-row-start: 1;
    grid-row-end: span 5;
  }

  .card2 h1 {
    font-size: 80px;
  }

  .card6 {
    grid-column-start: 4;
    grid-column-end: span 1;
    grid-row-start: 1;
    grid-row-end: span 2;
  }

  .card7 {
    grid-column-start: 4;
    grid-column-end: span 1;
    grid-row-start: 3;
    grid-row-end: span 2;
  }

  .card9 {
    grid-column-start: 4;
    grid-column-end: span 1;
    grid-row-start: 5;
    grid-row-end: span 1;
  }

  .card8 {
    grid-column-start: 1;
    grid-column-end: span 2;
    grid-row-start: 6;
    grid-row-end: span 2;
  }

  .card3 {
    grid-column-start: 3;
    grid-column-end: span 2;
    grid-row-start: 6;
    grid-row-end: span 2;
  }

  .card3 .front span {
    font-size: 60px;
  }

  .card4 {
    grid-column-start: 1;
    grid-column-end: span 2;
    grid-row-start: 8;
    grid-row-end: span 2;
  }

  .card4 .front span,
  .card5 .front span {
    font-size: 40px;
  }

  .card5 {
    grid-column-start: 3;
    grid-column-end: span 2;
    grid-row-start: 8;
    grid-row-end: span 2;
  }
}

@media only screen and (max-width: 1000px) {
  .header_popup {
    width: 200px;
  }
}